.root {
  width: 100%;
  min-height: 50vh;
  position: relative;
}

.smallPokeBall {
  position: absolute;
  top: 3%;
  left: 7%;
}

.cloud {
  position: absolute;
  left: 10%;
  top: 50%;
}

.cloudBig {
  position: absolute;
  left: 49.86%;
  top: -3%;
}

.pokeBall {
  position: absolute;
  top: 5%;
  right: 10%;
}

.pikachu {
  position: absolute;
  top: 0%;
  left: 4.11%;
}
