@import "../../styles/bootstrap";
.root {
  border: none;
  border-radius: 11px;
  outline: 0;

  height: 2.869em;
  font-size: $base-font-size * 1.4375;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  padding-bottom: 9px;
  padding: 0 $gutter 9px;
  cursor: pointer;
  &:active {
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.18);
    padding-bottom: 3px;
  }
}

.primary {
  @include background-color("grass");
}
.secondary {
  @include background-color("normal");
}
.accent {
  @include background-color("third");
}

.small {
  height: 1.333em;
  line-height: 1.3;
  font-size: $base-font-size * 0.75;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
  padding-bottom: 2px;
  padding: 0 $gutter / 4 2px;
  &:active {
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.18);
    padding-bottom: 1px;
  }
}
