@import "../../styles/bootstrap";

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuLink {
  display: inline-block;
  font-size: $base-font-size * 1.5625;
  line-height: 1.15;
  color: map-get($colors, "dark");
  text-decoration: none;
  position: relative;
  margin-left: $gutter / 2;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    height: 1px;
    width: 1%;
    background: map-get($colors, "dark");
    border: 1px solid map-get($colors, "dark");
    border-radius: 6px;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: opacity, width ease-in-out 0.25s;
  }

  &:hover,
  &.activeLink {
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}
