@import "../../styles/bootstrap";
.root {
  display: flex;
  min-height: 100%;
  overflow: hidden;
}

.container {
  @include container;
  display: flex;
  min-height: 100%;
  align-items: center;
}

.left {
  width: 40%;
  padding: $gutter;
}
.right {
  width: 60%;
  padding: $gutter;
}
