@import "../../styles/bootstrap";

.root {
  display: flex;
  align-items: center;
  height: $header-height;
  @include shadow("16");
  @include background-color("third");
  margin-bottom: -$header-height;
  z-index: 2;
}

.container {
  @include container;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
