@import "../../styles/bootstrap";
.root {
  display: block;
  border: none;
  font-size: $base-font-size;
  width: 100%;
  height: 3.3125rem;
  border-radius: 1.7rem;
  padding: $gutter / 4 $gutter;
  background-color: #f2f2f2;
  @include shadow("16");
  outline: none;
  margin-bottom: $gutter;

  &:hover,
  &:focus,
  &:active {
    @include shadow("24");
  }
}
