@import "../../styles/bootstrap";

.root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -$gutter;
  margin-right: -$gutter;
}

.col {
  padding: $gutter / 2 $gutter;
  width: calc(100% / 3);
}
